<div class="container">
    <div class="row justify-content-md-center align-items-center">
        <div class="col-md-auto">
            <form #recipeForm="ngForm" (ngSubmit)="onSubmit(recipeForm)">
                <div class="form-group">
                    <label for="name">Recipe name</label>
                    <input type="text" id="name" class="form-control" ngModel name="name" required />
                </div>
                <div class="form-group">
                    <label for="description">Recipe description</label>
                    <input type="text" id="description" class="form-control" ngModel name="description" required />
                </div>
                <div class="form-group">
                    <label for="imgPath">Image path</label>
                    <input type="text" id="imgPath" class="form-control" ngModel name="imgPath" required />
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" [disabled]="!recipeForm.valid">Add</button> |
                    <button class="btn btn-primary" type="button" (click)="return()">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>