
$mainColor: rgba(57, 204, 204, 0.75);

.recipe {
    width: 11.8vw;
    height: 30vh;
    display: inline-block;
    border: 1px solid black;
    overflow: hidden;
    margin: 0.5vw;
    position: relative;
    
    .img {
        position: absolute;
        height: 100%;
 
    }

    p {
        text-decoration: none;
        position: absolute;
        margin: auto;
        width: 100%;
        bottom: 0px;
        padding: 10px;
        background: $mainColor;
        color: white;
        font-weight: bold;
    }

    p:hover {
        color: #dedede;
        cursor: pointer;
    }
}
