
$mainColor: rgba(57, 204, 204, 0.75);

.recipe {
    width: 11.8vw;
    height: 30vh;
    display: inline-block;
    //border: 1px solid black;
    box-shadow: 2px 7px 7px 2px rgba($color: (#000000), $alpha: 0.2);
    overflow: hidden;
    margin: 0.5vw;
    position: relative;
    
    .img {
        position: absolute;
        height: 100%;
 
    }

    p {
        text-decoration: none;
        position: absolute;
        margin: auto;
        width: 100%;
        bottom: 0px;
        padding: 10px;
        background: $mainColor;
        color: white;
        font-weight: bold;
    }

    p:hover {
        color: #dedede;
        cursor: pointer;
    }
}

  .plus {
    background:
      linear-gradient(rgba(57, 204, 204), rgba(57, 204, 204)),
      linear-gradient(rgba(57, 204, 204), rgba(57, 204, 204));
    background-position:center;
    background-size: 30% 10px,10px 20%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
  }