<p *ngIf="!recipes"> No data </p>

    <div *ngFor="let recipeEl of recipes" class="recipe">
            <img [src]="recipeEl.imagePath"/>
            <p (click)="toggleRecipeDetails(recipeEl)">{{ recipeEl.name }}</p>
            <app-recipe-details *ngIf="selectedRecipeId == recipeEl.id" [recipe]="recipeEl" (closeDetails)="toggleRecipeDetails()" (refreshRecipes)="onRefresh()"></app-recipe-details>
    </div>
    <div *ngIf="admMode" class="recipe plus">
            <p (click)="onAddNewRecipe()">Add new recipe</p> 
        </div>

