$mainColor: rgba(57, 204, 204, 0.75);

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba($color: #000000, $alpha: 0.4);
}

.recipe-details-container {
    position: fixed;
    top: 5vh;
    left: 20vw;
    width: 60vw;
    min-height: 10vh;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.25);
}


.close-details-button {
    all: unset;
    margin-top: 1vh;
    margin-right: 1vw;
    float: right;
    background: $mainColor;
    border-radius: 2px;
    padding: 6px;
    color: white;
    font-weight: bold;

}

    .close-details-button:hover {
        background: darken($color: ($mainColor), $amount: 20%);
    }

.add-to-list-button {
    all: unset;
    margin-bottom: 1vh;
    margin-left: 1vw;
    display: flex;
    background: $mainColor;
    border-radius: 2px;
    padding: 6px;
    color: white;
    font-weight: bold;
    
}

    .add-to-list-button:hover {
        background: darken($color: ($mainColor), $amount: 20%);
    }

.recipe-details-container-div {
    width: 95%;
    margin-left: auto;
}

.recipe-details-header {
    margin-top: 1vh;
}

.recipe-title-label {
    display: inline-block;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 30px;
    width: 60%;
}

.recipe-details-photo {
    display: inline-block;
    margin-left: 1vw;
    .img {
        
        width: auto;
        height: auto;
        max-width: 200px;
        max-height: 200px;
    }
}

.recipe-description {
    margin-left: 1vw;
    margin-top: 2vh;
    height: 10vh;
}

.recipe-details-ingredients {
    margin-left: 1vw;
    margin-top: 2vh;
    height: 20vh;
    font-size: 14px;
}