<div class="background-blur" (click)="onClose()"></div>
<div class="recipe-details-container">
    <div class="recipe-details-container-div recipe-details-header">
        <span class="recipe-title-label"> {{ recipe.name }} </span>
        <button *ngIf="admMode" class="btn btn-primary close-details-button" (click)="onEditIngredients()">Edit Ingredients</button>
        <button *ngIf="admMode" class="btn btn-primary close-details-button" (click)="removeRecipe()">Remove the recipe</button>
    </div>
    <div class="recipe-details-container-div recipe-details-photo">
        <img [src]="recipe.imagePath"/>
        <div class="recipe-description">
            {{recipe.description}}
        </div>
    </div>
    <div class="recipe-details-container-div recipe-details-ingredients">
    <span style="margin-left: 1.5vw;">Ingredients:</span>
        <ul>
            <li *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} {{ingredient.amount}} {{ingredient.unit}} <p class="ingredient-paragraph" *ngIf="editIngredientsMode && admMode" (click)="removeIngredient(ingredient)">Delete</p>
            </li>
            <div class="background-blur" *ngIf="addIngredientMode"></div>
            <div class="ingredient-popup" *ngIf="addIngredientMode">
                <form #ingredientForm="ngForm" (ngSubmit)="onIngredientSubmit(ingredientForm)">
                    <div class="form-group">
                        <label for="name">Ingredient name</label>
                        <input type="text" id="name" class="form-control" ngModel name="name" required />
                    </div>
                    <div class="form-group">
                        <label for="amount">Ingredient Amount</label>
                        <input type="number" id="amount" class="form-control" ngModel name="amount" required />
                    </div>
                    <div class="form-group">
                        <label for="unit">Ingredient Unit</label>
                        <input type="text" id="unit" class="form-control" ngModel name="unit" required />
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit" [disabled]="!ingredientForm.valid">Add</button>
                        <button class="btn btn-primary" type="button" (click)="toggleAddIngredientMode(ingredientForm)">Cancel</button>
                    </div>
                </form>
            </div>
            <button *ngIf="editIngredientsMode && admMode" class="btn btn-primary" (click)="toggleAddIngredientMode()">Add new ingredient</button>
        </ul>
    </div>
    <div class="recipe-details-container-div">
        <button class="btn btn-primary add-to-list-button" (click)="toShoppingList()">Add to shopping list</button>
    </div>
</div>
